@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Creepster';
*/

.fronttext {
    font-family: 'Creepster';
    font-size: 40px;
    font-weight: 400;
    color: rgb(104, 161, 211);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.subtext {
    font-family: 'Creepster';
    color: blueviolet;
    padding-left: 3rem;
    line-height: 0;
    font-size: 25px;
    padding-bottom: 1rem;
}

/* navbar-top */
#navbar-top {
    z-index: 10000;
    position: fixed;
    top: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    height: 40px;
    font-size: 35px;
    padding: 10px;
    font-weight:bolder;
    margin-left: 1rem;
}
#navbar-top .navfont {

    font-size: 16px;
    font-weight: bold;
    padding-right: rem;
    color: rgb(0, 0, 0) !important;

}
#navbar-top .navfont:hover{
    color: rgb(255, 0, 0) !important;
}
#navbar-top .container-fluid {
    max-width: 1700px !important;
}
#navbar-top .social-media-links i {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
#navbar-top .youtube i {
    color: rgb(255, 0, 0);
}

#navbar-top .twitch i {
    color: rgb(128, 5, 121);
}
a {
    color:#2baaec;
}
a:hover {
    color: #e62525;
}
/* navbar */
#navbar {
    position: fixed;

}
.nav-font {
    font-size: 20px !important;
    padding-right: 4rem;
}
.nav-background {
    width: 100%;
    height: 300px;
    background-color: white;
}
/*Home Content*/
#top .font {
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    font-weight: bolder;
    line-height: 70px;
}
#top .subfont {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#top .zindex {
    padding-top: 22rem;
    top:50%;
    width: 100%;
    text-align: center;
}

#top .shopnow {
    line-height: 5rem;
}
#home1 .paddi{
    padding-top: 65px;
    padding-left: 120px;
}
#home1 .paddin{
    padding-top: 65px;
    padding-right: 120px;
}
#home1 .font {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    line-height: 50px;
    position: absolute;
    left: 165px;
    top: 1150px;
}
#home1 .shopnow{
    line-height: 250px;
}
#home1 .fonts{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    line-height: 50px;
    position: absolute;
    left: 30px;
    bottom: 16px;
}
#home1 .arrive {
    padding-left: 0px;
    padding: 0px;
    position: relative;
}
#home2 .paddi{
    padding-top: 65px;
    padding-left: 120px;
}
#home2 .paddin{
    padding-top: 65px;
    padding-right: 120px;
    margin-left: 0px;
}
#home2 .font {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 45px;
    font-weight: bolder;
    line-height: 50px;
    position: absolute;
    right: 60px;
    bottom: 150px;
}
#home2 .shopnow{
    line-height: 100px;
}
#home2 .fonts{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    line-height: 50px;
    position: absolute;
    left: 90px;
    bottom: 150px;
}
#home2 .arrive {
    padding-left: 0px;
    padding: 0px;
    position: relative;
    margin-bottom: 3rem;

}
#home2 .arrives {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 30px;
    position: relative;
}
#Products .font {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-top: 3rem;
}
#speciality .font {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding-top: 2rem;
}
#speciality .pad{
    left: 4rem;
    margin-top: 1rem;
}
#speciality .fonts {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 2rem;
    padding-top: 4rem;
    color: #020c0c;

}
#speciality .fonts:hover {
    color: #e62525;
}
#speciality .tracks {
    display:grid;
    grid-template-columns: auto auto;
    margin: 2rem;
    background-color: white;

}
#speciality .track {
    float:right;


}
.spacing {
    padding-left: 2rem;
    padding-top: 12rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}
.color-cont {
    background-color: #0f381d;
}
.sub-color {
    background-color: rgb(37, 148, 37);
}
.card-font {
    font-family: 'Roboto', sans-serif;
    color: blanchedalmond;

}
.card-bg {
    background-color: #020c0c;
    opacity: 1;
}
.card {
    border-radius: 5px;
    margin-bottom: 10px;
}
/*Member content*/
.m-cont {
    padding-left: 2rem;
}
.links {
    scroll-margin-top: 150px;
}
.image-pad{
    padding: 0rem;
}
.card-pad {
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 12rem;
}

@media (min-width: 992px) {
    #navbar {
        height: 150px;
    }
    #navbar .navbar-nav .nav-link {
        font-size: 1.125rem;    
    }
}
.button { 
    border:none;
}

/*footer*/
.navfot {
font-family: 'Poppins', sans-serif;
font-size: 16px;
text-align: center;
padding-top: 5px;
}
.containe-fot {
    width: 100%;
    margin: 0px;
    height: 35px;
}
.custo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    align-items: center;
    /* padding-left: 15%; */
    padding-top: 60px;
    padding-bottom: 60px;
}
#footers .card {
    background-color: #f5f5f5;
    border-color: transparent;
    padding: 0px;
}
#footers .navfont {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-right: rem;
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    text-align: left;    
}
#footers .stores{
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    
}
#footers .textaligns{
    text-align: left;
    line-height: 30px;
}
#footers .navfont:hover{
    color: rgb(255, 0, 0) !important;
}
#footers .social-links i {
    color: black;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}
.row-workaround {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.container-workaround {
    justify-content: center;
}
.border-workaround {
    border-top: 1px solid #dee2e6!important;
}
/* #footers.row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
} */
.bg-colorsfot{
    background-color: #f5f5f5;
}
@media (min-width: 1920px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1700px;
    }
}
@media (min-width: 1920px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1700px;
    }
}

/*Product-List*/

.home {
    margin-left: 58px;
    }

.pictures {
    margin-left: 0rem;
    padding-top: 2rem;

   /* position: absolute;
    left: 3px;
    top: -25px;*/
  
}
.popular{
    /*margin-left: 150px;*/
    position: absolute;
    left: 218px;
    top: 125px;
}

.show-img {
/*padding-left: 660px;*/
position: absolute;
    right: 480px;
    top: 125px;
    
}

#productcard .card {
    margin-left: 2rem;
    text-align: center;
    margin-top: 2rem;

}
.starst i {
    color: #FF7373;
}
.starsts i {
    color: #FF7373;
}
.starstss i {
    color: #FF7373;
}
.starstb i {
    color: #FF7373;
}
.starst1 i {
    color: #FF7373;
}
.starst2 i {
    color: #FF7373;
}
.starst3 i {
    color: #FF7373;
}
.starst4 i {
    color: #FF7373;
}
.block{
    padding-left: 10rem;
    padding-top: 5rem;
}

.gray{
    color: #616365;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;

}

/* Product-description-page */
.product-description-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.product-description-page p, .product-description-page h5, .cart-body p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.center-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1110px;
}
/* Product-description-page end */

/* Ad-spot */
.ad-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.ad-text > a {
    text-decoration: none;
}

    .ad-text > a > p {
        font-size: 16;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #FF7373;
    }
/* Ad-spot end */

/* Location */
.location-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 38px;
}
/* Location end */

/* Product-description */
.product-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.product-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 606px;
    width: 1fr;
    /* margin-right: 2rem; */
    margin-bottom: 20px;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0  1 none;
    width: 540px;
    height: 444px;
    margin-bottom: 30px;
    /* border: 3px solid black; */
}

.product-image img {
    /* max-width: 100%;
    max-height: 100%; */
    width: 540px;
    height: 444px;
    object-fit: cover;
}

.product-image-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

    .product-image-selection img {
        width: 160px;
        height: 132px;
        object-fit: cover;
    }

    .product-image-selection > button {
        padding: 0 !important;
    }

.product-text-container {
    display: flex;
    flex-direction: column;
    max-width: 1fr;
}

    .product-name p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .product-brand {
        display: flex;
        color: #616365;
        font-family: 'Poppins', sans-serif;
        font-size: 0.75rem;
        font-weight: bolder;
        letter-spacing: 0.1rem;
    }

        .id-container {
            display: flex;
            margin-right: 1rem;
        }

        .id-container p {
            margin-right: 0.25rem;
        }

.product-rating {
    margin: 1rem 0;
}

.product-rating i {
    margin-left: 0.2rem;
}

.product-price {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.product-text {
    margin-bottom: 0.7rem;
}

.product-text span {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #616365;
}

.product-text a {
    text-decoration: none;
}

.product-size {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
}

.product-size, .product-color {
    margin-bottom: 1rem;
}

.btn-group {
    margin-left: 2.9rem;
}

.size-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#020c0c;
    background-color: #ffffff;
    border-color:#020c0c;
    width: 40px;
    height: 40px;
    border-radius: 0;
    margin-right: 10px;
}

.size-btn:hover {
    color: #fff;
    background-color: #FF7373;
    border-color: #FF7373;
}

/* .btn:checked {
    color: #fff;
    background-color: #FF7373 !important;
    border-color: #FF7373 !important;
} */

.btn-check:checked + .btn-outline-primary {
    color: #fff;
    background-color: #FF7373 !important;
    border-color: #FF7373 !important;
}

#size-selector {
    color:#020c0c;
    background-color: #ffffff;
    border-radius: 0;
}

.product-color {
    display: flex;
    align-items: center;
    height: auto;
}

.form-select {
    display: block;
    width: auto;
    margin-left: 2.0rem;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020c0c;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #020c0c;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-select {
    color: #616365;
}

.dropdown {
    position: relative;
    margin-left: 2rem;
}

#product-color-dropdown {
    color:#020c0c;
    background-color: #ffffff;
    border-radius: 0;
}

.product-quantity {
    display: flex;
    align-items: center;
    height: 4rem;
}

.product-quantity h5 {
    margin-right: 3rem;
}

.form-control {
    display: block;
    width: 200px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.input-group {
display: flex;
flex: 0 0 auto;
align-items: stretch;
width: 120px !important;
margin-right: 1.5rem;
}

    .input-group > .form-control {
    position: relative;
    flex: 0 1 auto;
    width: 3rem;
    min-width: 0;
    border-color:#020c0c !important;
    }

.input-group-btn > .btn {
    border-radius: 0;
    border-color:#020c0c !important;
}

.product-quantity > .btn {
    flex: 0 0 auto;
    border-radius: 0;
    width: 180px;
    background-color: #FF7373;
    border-color:#FF7373;
    font-weight: bold;
}

.product-share-links {
    display: flex;
    align-items: center;
    height: 4rem;
}

.product-share-links a {
    margin-left: 1rem;
    text-decoration: none;
}

    .product-share-links > a > i {
        display: flex;
        justify-content: center;
        align-items: center;
        color:#000000;
        background-color: #F4F4F4;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

.product-tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

/* Style the tab */
.tab {
    overflow: hidden;
    margin-bottom: 0.7rem;
}

.tabcontent p {
    margin-bottom: 0.7rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #616365;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #fff !important;
    background-color: #FF7373;
}

/* Create an active/current tablink class */
.tab button.active {
    color: #FF7373;
    border-bottom: 1px solid #FF7373;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

.tabcontent {
    animation: fadeEffect 0.8s;
    /* Fading effect takes 1 second */
}

.tabcontent2 {
    animation: fadeEffect 0.8s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* .line-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem auto;
}

.line-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem auto;
}

.line-container ul li {
    box-sizing: border-box;
    display: inline;
    text-align: center;
}

.line-container a {
    display: inline-block;
    width: 100%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
}

.two:hover~hr {
    margin-left: 25%;
}

.three:hover~hr {
    margin-left: 50%;
}

.four:hover~hr {
    margin-left: 75%;
}

hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
} */
/* Product-description end */

/* Related-products */
.related-products-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.related-products-container p {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
}
/* Related-products end */


/* CART BODY */

.cart-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.grön-kant {
    border: 3px solid green;
}


#cart-center {
    width: 1110px;
}

.homee {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.blockk {

}

.blå-kant {
    border: 3px solid rgb(0, 87, 128);
}

.orange-kant {
    border: 3px solid rgb(196, 113, 53);
}

#shopping-cart {
    width: 100%;
}

.box1 {
    width: 50%;
}

    .registrera-användare {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        font-size: 15pt;
        font-weight: 700;
    }

    .order-checkout {
        background-color: #F0EAEA;
        display: flex;
        align-items: center;
        height: 70px;
        font-size: 15pt;
        font-weight: 700;
    }

    .active-checkout {
        background-color: #FF7373 !important;
    }

    .active-checkout-menu {

    }

    .circle-number {
        width: 3rem;
        height: 3rem;
        border: 1px solid black;
        border-radius: 50%;
        font-size: 15pt;
        font-weight: 700;
        margin: 1rem;
    }
    
    .välj-fraktsätt {
        
    }

    .betalning {
    
    } 
.box2 {
    width: 50%;
}

.c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

