@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');

/* 

font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Creepster';
*/

.fronttext {
    font-family: 'Creepster';
    font-size: 40px;
    font-weight: 400;
    color: rgb(104, 161, 211);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.subtext {
    font-family: 'Creepster';
    color: blueviolet;
    padding-left: 3rem;
    line-height: 0;
    font-size: 25px;
    padding-bottom: 1rem;
}

/* navbar-top */
#navbar-top {
    z-index: 10000;
    position: fixed;
    top: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    height: 40px;
    font-size: 35px;
    padding: 10px;
    font-weight:bolder;
    margin-left: 1rem;
}
#navbar-top .navfont {

    font-size: 16px;
    font-weight: bold;
    padding-right: rem;
    color: rgb(0, 0, 0) !important;

}
#navbar-top .navfont:hover{
    color: rgb(255, 0, 0) !important;
}
#navbar-top .container-fluid {
    max-width: 1700px !important;
}
#navbar-top .social-media-links i {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
#navbar-top .youtube i {
    color: rgb(255, 0, 0);
}

#navbar-top .twitch i {
    color: rgb(128, 5, 121);
}
a {
    color:#2baaec;
}
a:hover {
    color: #e62525;
}
/* navbar */
#navbar {
    position: fixed;

}
.nav-font {
    font-size: 20px !important;
    padding-right: 4rem;
}
/*Home Content*/
.spacing {
    padding-left: 2rem;
    padding-top: 12rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}
.color-cont {
    background-color: #0f381d;
}
.sub-color {
    background-color: rgb(37, 148, 37);
}
.card-font {
    font-family: 'Roboto', sans-serif;
    color: blanchedalmond;

}
.card-bg {
    background-color: #020c0c;
    opacity: 1;
}
.card {
    border-radius: 5px;
    margin-bottom: 10px;
}
/*Member content*/
.m-cont {
    padding-left: 2rem;
}
.links {
    scroll-margin-top: 150px;
}
.image-pad{
    padding: 0rem;
}
.card-pad {
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 12rem;
}

@media (min-width: 992px) {
    #navbar {
        height: 150px;
    }
    #navbar .navbar-nav .nav-link {
        font-size: 1.125rem;    
    }
}

/*footer*/
.navfot {
font-family: 'Poppins', sans-serif;
font-size: 16px;
text-align: center;
padding-top: 5px;
}
.containe-fot {
    width: 100%;
    margin: 0px;
    height: 35px;
}
.custo {
    text-align:center;
    padding-left: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
}
#footers .card {
    background-color: #f5f5f5;
    border-color: transparent;
    padding: 0px;
}
#footers .navfont {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-right: rem;
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    text-align: left;    
}
#footers .stores{
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    
}
#footers .textaligns{
    text-align: left;
    line-height: 30px;
}
#footers .navfont:hover{
    color: rgb(255, 0, 0) !important;
}
#footers .social-links i {
    color: black;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}
.bg-colorsfot{
    background-color: #f5f5f5;
}
@media (min-width: 1920px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1700px;
    }
}
@media (min-width: 1920px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1700px;
    }
}

/*Product-List*/


#productcard .card {
    margin-left: 2rem;
    margin-top: 2rem;
    text-align: center;

}

.block{
    padding-left: 10rem;
    padding-top: 5rem;
}

.gray{
    color: #616365;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;

}



/* Product-description-page */
.product-description-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Product-description-page end */

/* Ad-spot */
.ad-container {
    display: flex;
    margin-top: 100px;
    margin-left: 405px;
    margin-right: 405px;
}
/* Ad-spot end */

/* Location */
.location-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 405px;
    margin-right: 405px;
    padding: 38px;
}

.location-text {
    margin-left: 15px;
}
/* Location end */

/* Product-description */
.product-description {
    display: flex;
    margin-left: 405px;
    margin-right: 405px;
}
/* Product-description end */
